$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  font-family: 'Unica One', cursive;
}

.fa-bitcoin {
  margin-right: 10px;
}

#create-job-view {
  display: none;
}

header {
  .notification-area {
    position: relative;
    top: 139px;
    width: 100%;
  }

  .notification-area .alert {
    border-radius: 0;
  }
}

.col-centered {
  margin-top: 10px;
  text-align: center;
}

#change-password-status {
  float: left;
}

.job-submit-btn {
  width: 100%;
}

.sidebar {
  color: white;
  text-align: center;
  height: 100vh;
  background: url('https://i.imgur.com/T08s9vk.jpg') no-repeat 60% 60%;
}

.table-responsive {
  margin-top: 30px;
}

.navbar-items li {
  float: left;
  margin-left: 10px;
}

.navbar-items li a {
    color: white;
}

.navbar-items {
  list-style-type: none;
  padding-top: 20px;
  padding-right: 50px;
  float: right;
}

.modal-content {
  border-radius: 0;
}

#loginModal {
  input {
    outline: none;
  }
}

#sign-in-error-message {
  float: left;
  color: red;
  display: none;
}

#email {
  width: 80%;
}

.logged-in-navbar-items {
  display: none;
}

.error-message {
  margin-top: 10px;
  color: red;
  font-size: 12px;
}

#signupModal {
  label {
    margin-right: 10px;
  }
  input {
    margin-top: 20px;
  }
}

.login-btn {
  background-color: #d3d3d3;
}

header {
  background: url('https://i.imgur.com/T08s9vk.jpg') no-repeat 55% 55%;
  height: 250px;
  color: white;
}
.nav-brand {
  width: 300px;
  display: inline-block;
}
h1 {
  display: inline-block;
  margin: 0px !important;
  padding-right: 0px;
  margin-right: 0px;
  width: 300px;
  padding-top: 20px;
  padding-left: 20px;
}

.pad-top {
  padding-top: 15px;
}

#createJobMap {
  width: 90%;
  height: 400px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
}
